button, input, optgroup, select, textarea {
  margin: 30px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
body{
  background-color: aquamarine;
}
.reload{
background-color: rgb(55, 43, 226);
}